<nav class="d-flex flex-row align-items-center">
  <h1 class="fw-bold p-3">SummitQuest</h1>
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="/profile">Profile</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/dashboard">Dashboard</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" id="logout">LogOut</a>
    </li>
  </ul>
</nav>
<div class="d-flex flex-row container-fluid">
  <aside class="d-flex col-lg-4 col-md-6 col-sm-12">
    <div class="custom-border w-100 p-3">
<h2 class="text-center">Community SummitQuests</h2>
      {{#each hikes}}
      <div class="mt-2 custom-border">

      <ol class="list-group m-2">
          <li
            class="list-group-item d-flex justify-content-between align-items-center"
          >
            <div class="ms-2 me-auto">
              <div class="fw-bold">Username: </div>
            </div>
            <span
              class="badge bg-primary rounded-pill"
            >{{user.username}}</span>
          </li>
         <li
            class="list-group-item d-flex justify-content-between align-items-center"
          >
            <div class="ms-2 me-auto">
              <div class="fw-bold">Peak Name:</div>
            </div>
            <span
              class="badge bg-primary rounded-pill"
            >{{peak.peak_name}}</span>
          </li>
           <li
            class="list-group-item d-flex justify-content-between align-items-center"
          >
            <div class="ms-2 me-auto">
              <div class="fw-bold">Attempt Date:</div>
            </div>
            <span
              class="badge bg-primary rounded-pill"
            >{{date}}</span>
          </li>
          <li
            class="list-group-item d-flex justify-content-between align-items-center"
          >
            <div class="ms-2 me-auto">
              <div class="fw-bold">Completed:</div>
            </div>
            <span
              class="badge bg-primary rounded-pill"
            >{{#if completed}}Yes
            {{else}}
              No
            {{/if}}</span>
          </li>
          <li
            class="list-group-item d-flex justify-content-between align-items-center"
          >
            <div class="ms-2 me-auto">
              <div class="fw-bold">Journal Entry</div>
            </div>
            <textarea class="form-control mt-2" rows="2" readonly>{{journal}}</textarea>
      </li>
          </li>
          <li
            class="list-group-item d-flex justify-content-between align-items-center"
          >
            <div class="ms-2 me-auto">
              <div class="fw-bold">Hours to Complete:</div>
            </div>
            <span
              class="badge bg-primary rounded-pill"
            >{{time_taken}}
          </li>
          </ol>
</div>
      {{/each}}

    </div>
  </aside>
  <div class="col-lg-8 col-md-6 col-sm-12 vh-100 custom-border">
    <h1>Peak Information</h1>
    <section class="d-flex">
      <section class="d-flex align-items-end flex-column p-3">
        <div class="d-flex flex-row mt-2 container custom-border">
          <div class="m-2 col-6">
            <h3>Featured Peak</h3>
            <div class="image-container">
              <img
                class="img-fluid"
                src="/images/Eastern_Sangre_de_Cristo_14ers.jpg"
              />
              <p class="overlay">{{allPeaks.peak_name}}</p>
            </div>
          </div>
          <div class="col-6 mt-2 mb-2 container">
            <ol class="">
              <li
                class="list-group-item d-flex justify-content-between align-items-center"
              >
                Location:
                {{allPeaks.location}}
              </li>
              <li
                class="list-group-item d-flex justify-content-between align-items-center"
              >
                Elevation:
                {{allPeaks.elevation}}
              </li>
              <li
                class="list-group-item d-flex justify-content-between align-items-center"
              >
                Difficulty:
                {{allPeaks.difficulty}}
              </li>
              <li
                class="list-group-item d-flex justify-content-between align-items-center"
              >
                Do you need a permit:
                {{allPeaks.permit_required}}
              </li>
            </ol>
          </div>
        </div>
      </section>
    </section>
    <div class="container d-flex flex-column">
      <h1 class="text-center mb-4">Colorado 14ers List</h1>
      <section class="d-flex flex-wrap justify-content-between">
        {{#each allPeaks}}
          <div class="col-lg-3 col-md-4 col-sm-6">
            <h6 class="peak-list"><a
                href="/peaks/{{id}}"
                id="FeaturedPeak"
              >•{{peak_name}} </a></h6>
          </div>
        {{/each}}
      </section>
    </div>
  </div>
</div>
<script src="/js/dashboard.js"></script>
<script src="/js/logout.js"></script>