<nav class="d-flex flex-row align-items-center">
  <h1 class="fw-bold p-3">SummitQuest</h1>
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">Profile</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Dashboard</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">LogOut</a>
    </li>
  </ul>
</nav>
<div class="d-flex flex-row container-fluid">
  <aside class="d-flex col-lg-4 col-md-6 col-sm-12 justify-content-evenly">
    <div class="custom-border w-75 p-3">
      <div
        class="container d-flex justify-content-evenly flex-wrap mt-2 custom-border"
      >
        <h6>{{users.username}}</h6>
        <p>{{peaks.peak_name}}</p>
        <p>{{format_date completedAt}}</p>
        <p>Weather Conditions</p>
        <p>{{time_taken}}</p>
      </div>
      <div
        class="container d-flex justify-content-evenly flex-wrap mt-2 custom-border"
      >
        <h6>{{users.username}}</h6>
        <p>{{peaks.peak_name}}</p>
        <p>{{format_date completedAt}}</p>
        <p>Weather Conditions</p>
        <p>{{time_taken}}</p>
      </div>
      <div
        class="container d-flex justify-content-evenly flex-wrap mt-2 custom-border"
      >
        <h6>{{users.username}}</h6>
        <p>{{peaks.peak_name}}</p>
        <p>{{format_date completedAt}}</p>
        <p>Weather Conditions</p>
        <p>{{time_taken}}</p>
      </div>
      <div
        class="container d-flex justify-content-evenly flex-wrap mt-2 custom-border"
      >
        <h6>{{users.username}}</h6>
        <p>{{peaks.peak_name}}</p>
        <p>{{format_date completedAt}}</p>
        <p>Weather Conditions</p>
        <p>{{time_taken}}</p>
      </div>
    </div>
  </aside>
  <div class="col-lg-8 col-md-6 col-sm-12 vh-100 custom-border">
    <h1>Peak Information</h1>
    <section class="d-flex">
      <section class="d-flex align-items-end flex-column p-3">
        <div class="d-flex flex-row mt-2 container custom-border">
          <div class="m-2 col-6">
            <h3>Featured Peak</h3>
            <div class="image-container">
              <img
                class="img-fluid"
                src="../public/images/Eastern_Sangre_de_Cristo_14ers.jpg"
              />
              <p class="overlay">{{peaks.peak_name}}</p>
            </div>
          </div>
          <div class="col-6 mt-2 mb-2 container">
            <ol class="">
              <li
                class="list-group-item d-flex justify-content-between align-items-center"
              >
                Location:
                {{peaks.location}}
              </li>
              <li
                class="list-group-item d-flex justify-content-between align-items-center"
              >
                Elevation:
                {{peaks.elevation}}
              </li>
              <li
                class="list-group-item d-flex justify-content-between align-items-center"
              >
                Difficulty:
                {{peaks.difficulty}}
              </li>
              <li
                class="list-group-item d-flex justify-content-between align-items-center"
              >
                Do you need a permit:
                {{peaks.permit_required}}
              </li>
            </ol>
          </div>
        </div>
      </section>
    </section>
    <div class="container d-flex">
      <section class="d-flex flex-wrap justify-content-evenly">
        <h6><a href="/peaks/{{id}}">{{peaks.peak_name}}</a></h6>
        <h6>{{peaks.peak_name}}</h6>
        <h6>{{peaks.peak_name}}</h6>
        <h6>{{peaks.peak_name}}</h6>
        <h6>{{peaks.peak_name}}</h6>
        <h6>{{peaks.peak_name}}</h6>
        <h6>{{peaks.peak_name}}</h6>
        <h6>{{peaks.peak_name}}</h6>
        <h6>{{peaks.peak_name}}</h6>
        <h6>{{peaks.peak_name}}</h6>
        <h6>{{peaks.peak_name}}</h6>
        <h6>{{peaks.peak_name}}</h6>
        <h6>{{peaks.peak_name}}</h6>
        <h6>{{peaks.peak_name}}</h6>
        <h6>{{peaks.peak_name}}</h6>
        <h6>{{peaks.peak_name}}</h6>
        <h6>{{peaks.peak_name}}</h6>
        <h6>{{peaks.peak_name}}</h6>
        <h6>{{peaks.peak_name}}</h6>
        <h6>{{peaks.peak_name}}</h6>
        <h6>{{peaks.peak_name}}</h6>
        <h6>{{peaks.peak_name}}</h6>
        <h6>{{peaks.peak_name}}</h6>
        <h6>{{peaks.peak_name}}</h6>
        <h6>{{peaks.peak_name}}</h6>
        <h6>{{peaks.peak_name}}</h6>
        <h6>{{peaks.peak_name}}</h6>
        <h6>{{peaks.peak_name}}</h6>
        <h6>{{peaks.peak_name}}</h6>
        <h6>{{peaks.peak_name}}</h6>
        <h6>{{peaks.peak_name}}</h6>
        <h6>{{peaks.peak_name}}</h6>
        <h6>{{peaks.peak_name}}</h6>
        <h6>{{peaks.peak_name}}</h6>
        <h6>{{peaks.peak_name}}</h6>
        <h6>{{peaks.peak_name}}</h6>
        <h6>{{peaks.peak_name}}</h6>
        <h6>{{peaks.peak_name}}</h6>
        <h6>{{peaks.peak_name}}</h6>
        <h6>{{peaks.peak_name}}</h6>
        <h6>{{peaks.peak_name}}</h6>
        <h6>{{peaks.peak_name}}</h6>
        <h6>{{peaks.peak_name}}</h6>
        <h6>{{peaks.peak_name}}</h6>
        <h6>{{peaks.peak_name}}</h6>
        <h6>{{peaks.peak_name}}</h6>
        <h6>{{peaks.peak_name}}</h6>
        <h6>{{peaks.peak_name}}</h6>
        <h6>{{peaks.peak_name}}</h6>
        <h6>{{peaks.peak_name}}</h6>
        <h6>{{peaks.peak_name}}</h6>
        <h6>{{peaks.peak_name}}</h6>
        <h6>{{peaks.peak_name}}</h6>
        <h6>{{peaks.peak_name}}</h6>
        <h6>{{peaks.peak_name}}</h6>
        <h6>{{peaks.peak_name}}</h6>
        <h6>{{peaks.peak_name}}</h6>
        <h6>{{peaks.peak_name}}</h6>
        <h6>{{peaks.peak_name}}</h6>
        <h6>{{peaks.peak_name}}</h6>
        <h6>{{peaks.peak_name}}</h6>
      </section>
    </div>
  </div>
</div>