<nav class="d-flex flex-row align-items-center">
  <h1 class="fw-bold p-3">SummitQuest</h1>
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="/profile">Profile</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/dashboard">Dashboard</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" id="logout">LogOut</a>
    </li>
  </ul>
</nav>
<div class="d-flex flex-row mt-2 container custom-border">
  <div class="m-2 col-6">
    <h3>Peak Information</h3>
    <div class="image-container">
      <img class="img-fluid" src="{{peaks.peak_image_route}}" />
      <p class="overlay">{{peaks.peak_name}}</p>
    </div>
  </div>
  <div class="col-6 mt-2 mb-2 container">
    <ol class="">
      <li
        class="list-group-item d-flex justify-content-between align-items-center"
      >
        Location:
        {{peaks.location}}
      </li>
      <li
        class="list-group-item d-flex justify-content-between align-items-center"
      >
        Elevation:
        {{peaks.elevation}}
      </li>
      <li
        class="list-group-item d-flex justify-content-between align-items-center"
      >
        Difficulty:
        {{peaks.difficulty}}
      </li>
      <li
        class="list-group-item d-flex justify-content-between align-items-center"
      >
        Do you need a permit:
        {{peaks.permit_required}}
      </li>
    </ol>
  </div>
</div>