
<nav class="d-flex flex-row align-items-center bg-light">
  <a href="/profile"><img class="logo" src="/images/logo.png" alt=""></a>
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="/profile">Profile</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/dashboard">Dashboard</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" id="logout">LogOut</a>
    </li>
  </ul>
</nav>
<div
  class="d-flex flex-column-reverse flex-md-row vh-100 overflow-auto space-between"
>
  <aside class="order-sm-2 order-md-2">
    <div class="container flex-column d-flex">
      <div class="p-2 d-flex flex-lg-row custom-border mt-2 flex-column bg-light">
        <div class="col-12 col-lg-6 card-body m-2">
          <img
            class="card-img-top border border-black rounded-circle"
            src="https://media.istockphoto.com/id/519078727/photo/male-silhouette-as-avatar-profile-picture.webp?b=1&s=170667a&w=0&k=20&c=JzPsyMEFcdQp2UlFqLVeuOaj2bOpteXUWFR9FJzTnBM="
            alt="..."
          />
        </div>
        <div class="col-12 col-lg-6 card-body align-items-center">
          <h2>{{user.username}}</h2>
          <h5>Member Since:</h5>
          <p>{{format_date user.createdAt}}</p>
        </div>
      </div>
      <div class="p-2 mt-2 custom-border bg-light">
        <h5>User bio</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content. Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Reiciendis quidem a voluptate dolor labore dolorem
          ipsam accusamus, eligendi magnam exercitationem rem quaerat eius
          commodi dolorum suscipit numquam praesentium corporis dolores.
        </p>
        <h5>Featured Summit</h5>
        <div class="image-container">
          <img
            class="img-fluid"
            src="/images/Eastern_Sangre_de_Cristo_14ers.jpg"
          />

          <p class="overlay">{{user.peaks.peak_name}} Climbed on {{date}}</p>
        </div>
      </div>
      <div class="p-2 custom-border mt-2 bg-light">
        <h5>My Summit Quest Progress:</h5>
        <ol class="list-group m-2">
          <li
            class="list-group-item d-flex justify-content-between align-items-center"
          >
            <div class="ms-2 me-auto">
              <div class="fw-bold">Total Peaks Completed </div>
            </div>
            <span
              class="badge bg-primary rounded-pill"
            >{{completedPeaks.length}}/58</span>
          </li>
          <li
            class="list-group-item d-flex justify-content-between align-items-center"
          >
            <div class="ms-2 me-auto">
              <div class="fw-bold">Total Elevation Climbed</div>
            </div>
            <span class="badge bg-primary rounded-pill">{{totalEl}} feet</span>
          </li>
          <li
            class="list-group-item d-flex justify-content-between align-items-start"
          >
            <div class="ms-2 me-auto">
              <div class="fw-bold">Total Peaks Attempted</div>
            </div>
            <span class="badge bg-primary rounded-pill">{{completedPeaks.length}}</span>
          </li>
          <li
            class="list-group-item d-flex justify-content-between align-items-start"
          >
            <div class="ms-2 me-auto">
              <div class="fw-bold">Most Difficult Summit</div>
            </div>
            <span class="badge bg-primary rounded-pill">Peak #1</span>
          </li>
        </ol>
      </div>
    </div>
  </aside>
  <section class="order-sm-1 order-md-2">
    <section>
      <div class="d-flex flex-row custom-border mt-2 container bg-light">
        <div class="m-2 col-6">
          <h3 class="card-title">{{user.username}}'s Summit Queue</h3>
          <h5>Next Summits:</h5>

          <div class="image-container">
            <img
              class="img-fluid"
              src="/images/Eastern_Sangre_de_Cristo_14ers.jpg"
            />

            <p class="overlay"></p>
          </div>
        </div>
        <div class="col-6 mt-2 mb-2 container">
          <!-- Can use a partial to dynamically create these in handlebars -->
          <ol class="list-group list-group-numbered">
            {{#each peakQueue}}
              {{>liWishlist this}}
            {{/each}}
          </ol>
        </div>
      </div>
      <div class="container custom-border mt-2 bg-light">
        <h3 class="m-2">Add a Mountain to your Quest:</h3>
        <form action="#" id="questForm">
          <div class="form-group m-2">
            <label style="font-weight: bolder;" for="dropdown2">Peak Name</label>
            <select id="dropdown2" name="option2" class="form-control">
              {{#each allPeaks}}
                <option value={{id}}>{{peak_name}}</option>
              {{/each}}
            </select>
          </div>

          <div class="form-group m-2">
            <input
              type="submit"
              value="Submit"
              class="form-control btn btn-primary submit px-3"
            />
          </div>
        </form>
      </div>
    </section>
    <article>
      <div class="d-flex flex-row custom-border mt-2 container bg-light">
        <div class="m-2 col-6">
          <h3 class="card-title">{{user.username}}'s Completed Peaks</h3>
          <h5>Most Recent Summit:</h5>

          <div class="image-container">
            <img
              class="img-fluid"
              src="/images/Eastern_Sangre_de_Cristo_14ers.jpg"
            />

            <p class="overlay"></p>
          </div>
        </div>
        <div class="col-6 mt-2 mb-2 container">
          <!-- Can use a partial to dynamically create these in handlebars -->
          <ol class="list-group list-group-numbered">
            {{#each completedPeaks}}
              {{>liCompleted this}}
            {{/each}}
          </ol>
        </div>
      </div>
      <div class="container custom-border mt-2 bg-light">
        <h3 class="m-2">Record a SummitQuest:</h3>
        <form action="#" id="completeQuest">
          <div class="form-group m-2">
            <label style="font-weight: bolder;" for="dropdown2">Peak Name</label>
            <select id="dropdown2_2" name="option2" class="form-control">
              {{#each allPeaks}}
                <option value={{id}}>{{peak_name}}</option>
              {{/each}}
            </select>
          </div>

          <div class="form-group m-2">
            <label style="font-weight: bolder;" for="date">Date</label>
            <input type="date" id="date" name="date" class="form-control" />
          </div>

          <div class="form-group m-2">
            <label style="font-weight: bolder;" for="comment">Comment</label>
            <textarea
              id="comment"
              name="comment"
              rows="4"
              class="form-control"
            ></textarea>
          </div>

          <div class="form-group m-2">
            <label style="font-weight: bolder;" for="time_taken">Time taken:</label>
            <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
        <option selected>Hours</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12+</option>
      </select>
          </div>
          <div class="form-group m-2">
            <label style="font-weight: bolder;" for="completed">Completed</label>
            <input type="checkbox" id="completed" value="true" name="completed" />
          </div>
          <div class="form-group m-2">
            <input
              type="submit"
              value="Submit"
              class="form-control btn btn-primary submit px-3"
            />
          </div>
        </form>
      </div>
    </article>
  </section>
</div>
<script src="/js/profile.js"></script>
<script src="/js/logout.js"></script>

